.DS_Store
node_modules
/dist
.env

# Git orig files
**.orig

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Test results
/coverage

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Lorenzo's favourite
public/blocks
